.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
venv
pg_data
include/gcs/*.json
logs
tests
.astro
plugins
Setup/images
.dockerignore